* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}


.clearfix::after{
	content: "";
	display: block;
	clear: both;
}



header{
	background-color: steelblue;

}
.header-container{
	width: 1100px;
	height: 70px;
	margin: 0 auto;
	position: relative;
}

.image-wrapper{
	float: left;
	display: inline-block;
}
.nav-logo-image{
	height: 70px;
	line-height: 70px;
}
.nav-list{
	float: right;
	line-height: 70px;
	list-style: none;
}
.nav-list-item{
	display: inline-block;
	text-align: right;
	font-size: 16px;
	color: #fafafa;
	padding: 0 30px;
}
a{
	font-size: 16px;
	color: #fafafa;
	text-decoration: none;
}

.main-visual{
	width: 100%;
	height: 600px;
	padding-top: 50px;
	background-image: url(img/top.jpg);
	background-size: cover;
	background-position: center;
}
.main-visual-subtitle{
	text-align: center;
	padding-top: 30px;
	font-size: 64px;
	font-family: cursive;
	color: #fafafa;
}
.main-visual-title{
	text-align: center;
	padding-top: 60px;
	font-size: 128px;
	font-family: fantasy;
	color: #fafafa;
}
.main-visual-subtitle2{
	text-align: center;
	padding-top: 50px;
	font-size: 30px;
	font-family: cursive;
	color: #fafafa;
}


.concept{
	width: 100%;
	height: 800px;
	margin-top: 20px;
	padding-top: 50px;
	background-image: url(img/concept.jpg);
	background-size: cover;
	background-position: center;
}
.concept-wrapper, .new-value-wrapper, .profile-wrapper{
	width: 1200px;
	border-radius: 20px;
	margin: 0 auto;
	background-color: white;
	background: rgba(255,255,255, 0.7);
	/*opacity: 0.7;*/
}
.concept-title, .new-value-title, .profile-title, .contact-title{
	font-size: 50px;
	font-family: cursive;
	color: #000000;
	padding-top: 60px;
	padding-bottom: 8px;
	text-align: center;
}
.concept-text{
	font-size: 30px;
	font-family: monospace;
	color: #000000;
	padding: 30px 0;
	text-align: center;
}
.concept-title::after{
	width: 100px;
	height: 3px;
	background-color: #ec715f;
	display: block;
	content: "";
	margin: 0 auto;
}
.concept-box{
	width: 600px;
	margin: 0 auto;
}
.icon-box{
	width: 160px;
	float: left;
}
.text-box{
	width: 440px;
	float: left;
}

.concept-box-title{
	font-size: 30px;
}
.concept-box-text{
	font-size: 12px;
	height: 100px
}
.fa-app-store-ios{
	font-size: 100px;
}
.fa-amazon{
	font-size: 100px;
}
.fa-slack-hash{
	font-size: 100px;
}


.new-value{
	width: 100%;
	height: 800px;
	margin-top: 20px;
	padding-top: 50px;
	background-image: url(img/new-value.jpg);
	background-size: cover;
	background-position: center;
}
.new-value-title::after{
	width: 100px;
	height: 3px;
	background-color: #ec715f;
	display: block;
	content: "";
	margin: 0 auto;
}
.new-value-text{
	font-size: 30px;
	font-family: monospace;
	color: #000000;
	padding: 30px 0;
	text-align: center;
}

.new-value-box{
	width: 350px;
	margin: 0 25px 50px 25px;
	float: left;
	border: dotted 1px gray;

}

.new-value-box-title{
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
}
.new-value-box-text{
	font-size: 12px;
	margin: 0 8px;
}
.fa-allergies{
	display: block;
	text-align: center;
	font-size: 100px;
}
.fa-american-sign-language-interpreting{
	display: block;
	text-align: center;
	font-size: 100px;
}

.fa-assistive-listening-systems{
	display: block;
	text-align: center;
	font-size: 100px;
}

.profile{
	width: 100%;
	height: 800px;
	margin-top: 20px;
	padding-top: 50px;
	background-image: url(img/profile.jpg);
	background-size: cover;
	background-position: center;
}
.profile-title::after{
	width: 100px;
	height: 3px;
	background-color: #ec715f;
	display: block;
	content: "";
	margin: 0 auto;
}
.profile-text{
	font-size: 30px;
	font-family: monospace;
	color: #000000;
	padding: 30px 0;
	text-align: center;
}
.profile-box1{
	width: 250px;
	height: 250px;
	float: left;
	background-image: url(img/me.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 200px;
	transform: rotate(270deg);
	margin-left: 150px;
	margin-top: 20px;
}
.profile-box2{
	float: left;
	padding-left: 100px;
}
.skills{
	padding-top: 20px;
	margin-bottom: 100px;
}

footer{
	height: 60px;
	background-color: steelblue;
}
.footer-text{
	font-size: 16px;
	color: #fafafa;
	text-align: center;
	line-height: 60px;
}

@media screen and (max-width:425px){
	.br-sp{
		display: none;
	}

	header{
		width: 100%;
		height: 50px;
	}
	.header-container{
		width: 100%;
	}
	.nav-logo-image{
		height: 50px;
	}
	.nav-list{
		display: none;
	}
	.menu{
		float: right;
		width: 40px;
		height: 40px;
		margin-right: 5%;
		border: 1px solid #fafafa;
		margin-top: 5px;
	}
	.list-bar{
		display: block;
		width: 25px;
		height: 2px;
		margin: 5px auto;
		background-color: #fafafa;
	}
	.list-bar:nth-child(1){
		margin-top: 10px;
	}


	.main-visual{
		width: 100%;
		background-position: center;
	}


	.concept{
		width: 100%;
	}
	.concept-wrapper{
		width: 90%;
	}
	.concept-text{
		font-size: 16px;
		margin: 0 auto;
	}

	.concept-box{
		width: 280px;
		margin: 0 auto;
		padding-bottom: 30px;
	}
	.icon-box{
		width: 90px;
		position: relative;
		left: -2px;
		padding-top: 30px;
	}
	.text-box{
		width: 180px;
	}
	.concept-box-title{
		font-size: 20px;
	}
	.concept-box-text{
		font-size: 10px;
	}
	.fa-app-store-ios{
	font-size: 70px;
	}
	.fa-amazon{
		font-size: 70px;
	}
	.fa-slack-hash{
		font-size: 70px;
	}



	.new-value{
		width: 100%;
	}
	.new-value-wrapper{
		width: 90%;
		height: 700px;
	}
	.new-value-text{
		font-size: 16px;
		margin: 0 auto;
		padding: 20px 0;
	}
	.new-value-box{
		width: 80%;
		height: 155px;
		margin: 8px auto;
		float: none;
	}
	.new-value-box-title{
		font-size: 20px;
		padding-top: 0;
	}
	.new-value-box-text{
		font-size: 10px;
		height: 50px;
		overflow: scroll;
	}
	.fa-allergies{
		margin-top: 10px;
		font-size: 60px;
	}
	.fa-american-sign-language-interpreting{
		margin-top: 10px;
		font-size: 60px;
	}
	.fa-assistive-listening-systems{
		margin-top: 10px;
		font-size: 60px;
	}



	.profile{
		width: 100%;
	}
	.profile-wrapper{
		width: 90%;
		height: 700px;
	}
	.profile-text{
		font-size: 16px;
		margin: 0 auto;
	}
	.profile-box1{
		width: 180px;
		height: 180px;
		margin: 0 auto;
		float: none;
	}
	.profile-box2{
		font-size: 12px;
		float: none;
		padding-left: 20px;
		padding-top: 20px;

	}
	.skills{
		float: none;
		padding-top: 50px;
	}

	footer{
		width: 100%;
	}

}